---
layout: default
---

<noscript>
	<style>

		article .footnotes {
			display: block;
		}

	</style>
</noscript>

<article>

	<div class="center">
		<h1>{{ page.title }}</h1>
		<time>{{ page.date | date: '%B %-d, %Y' }}</time>
	</div>

	<div class="divider"></div>

	{{ content }}


		<table width="100%" align="center">
			<tr>
				<td align="center"><a target="_blank" href="https://www.facebook.com/gabriel.panassoldafonseca"><img src="/assets/network/fc.png" width="50" height="50"/></a></td>
				<td align="center"><a target="_blank" href="https://github.com/gpanassol/"><img src="/assets/network/octocat.gif" width="50" height="50"/></a></td>
				<td align="center"><a target="_blank" href="https://twitter.com/gabrielpanassol"><img src="/assets/network/twitter.png" width="50" height="50"/></a></td>
			</tr>
		</table>

		<div id="disqus_thread"></div>
		<script type="text/javascript">
 			var disqus_shortname = 'gpanassol'; 

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</article>

<div class="back">
	<a href="{{site.baseurl}}/">Back</a>
</div>
